.bg1 {
	background: yellow;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

.bg2 {
	background: white;
	position: absolute;
	width: 100%;
	height: 584px;
	top: 60px;
	left: 0px;
}

.p1 {
	text-align: left;
	font-size: 8;
}
